fastapi
uvicorn[standard]
SQLAlchemy>=2.0
asyncpg
alembic
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
PyJWT
pydantic
pydantic_settings
python-dotenv
pytest
pytest-asyncio
pytest-mock
httpx
pyfiglet
python-dotenv
pydantic[email]